<auth>
  <disabled>no</disabled>
  <port>1515</port>
  <use_source_ip>no</use_source_ip>
  <use_password>yes</use_password>
  <force>
    <enabled>yes</enabled>
    <key_mismatch>yes</key_mismatch>
  </force>
  <purge>yes</purge>
</auth>
